// Extendables
%app_border {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

%nested_margin {
    margin: 16px 0;
}


.safezone {
    min-width: 768px;
    margin: 0 50px;
}

#main_view {
    @extend %app_border;
    width: 71%;
    float: left;
}

#main_view, #sidebar {
    padding: 5px 15px;
}

#sidebar {
    @extend %app_border;
    width: 22%;
    float: right;
}

#input_form {
    @extend %nested_margin;
}

#input_text {
    width: 97%;
}

.title {
    @extend %nested_margin;
}