// Extendables
%app_border {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

%nested_margin {
    margin: 12px 0;
}


.safezone {
    min-width: 768px;
    margin: 0 50px;
}

.tabcontent {
    display: none;
    &.active {
        display: inline-block;
    }
}

button{
    &.tab {
        border: none;
    }
}

#content-input {
    form#input-form{
        padding: 4px;
    }
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#main_view {
    @extend %app_border;
    width: 71%;
    float: left;
}

#main_view, #sidebar {
    padding: 15px;
}

#sidebar {
    @extend %app_border;
    width: 22%;
    float: right;
}

#input_form {
    @extend %nested_margin;
}

#input_text {
    width: 97%;
}

.title {
    @extend %nested_margin;
}